/* utility */

.debug1 {
  background-color: rgba(255, 0, 0, 0.24);
  border: 1px solid black;
}

.debug2 {
  background-color: rgba(0, 255, 42, 0.24);
  border: 1px solid black;
}

/* general */
body{
  overflow: hidden;
}

.W_70{
  width: 70%;
}

.f_s {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

/* -- ------------header----------- -- */
header{
  width: calc(100vw - (100vw -100%));
  height: 60px;
}

header .navbar .container-fluid{
  height: 40px;
}

.navbar-expand .navbar-nav .dropdown-menu.dropdown_edit{
  left: -500%; !important
}

/* -- ------------left bar----------- -- */
#left-bar{
  width: 60px;
  height: calc(100vh - 60px);
  background-image: url(/img/sidebar-bg.png);
}
@media screen and (min-width:992px) {
  #left-bar{
    width: 125px;
  } 
}

/* -- ------------main-view----------- -- */
#main-view{
  width: calc(100vw - 60px - (100vw - 100%));
  height: calc(100vh - 60px);
  overflow-y: auto;
}
@media screen and (min-width:992px) {
  #main-view{
    width: calc(100vw - 125px - (100vw - 100%));
  }
}

/* -- ------------main-header----------- -- */

#main-header{
  color: white;
  /* height: 100px; */
}

#main-header .first_col span:not(.ic) {
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 20px;
  padding: 3px 6px;
  font-size: 0.7rem;
}

.plus {
  height: 39px;
}

/* -- ------------main-content----------- -- */

#main-content {
  /* height: 100%; */
}